{% extends "base.html" %}
{% block content %}
<main class="bg-near-white hero contain pb5">
	<div class="mw8 center pb6">
		<div class="ph3-ns flex mt5-ns">
			<a href="/networks" class="link black f6 pa1-ns pr2-ns ph3 pv2 br-pill-ns w-auto-ns w-100 db bg-black-05">
				<span class="f7 ph6px br-pill bg-green white ttu fw5">NEW</span>
				<span class="ml1">List of Community Mesh Networks →</span>
			</a>
		</div>	
		<div class="ph3 pv4">
			<h1 class="f2 mt0 mb4 fw4 lh-title">Software for community mesh networks</h1>
			<p class="measure lh-copy mid-gray">Mesh Center builds free open-source software for mesh networks. We support sustainable, transparent and self-sufficient communities around the world.</p>
			<div class="mt5 flex">
				<a href="https://github.com/meshcenter" class="db link ttu f6 fw5 mr3 pv2 ph3 br2 shadow pointer bg-purple white">
					<span class="pv1 db">GitHub</span>
				</a>
				<a href="https://meshcenter.substack.com/" class="db link ttu f6 fw5 mr3 pv2 ph3 br2 shadow pointer bg-white gray">
					<span class="pv1 db">Newsletter</span>
				</a>
			</div>
		</div>
	</div>
</main>
<section class="bg-white pv5">
	<ul class="mw8 center flex flex-wrap list ma0 pa0">
		<li class="w-third-l w-50-m w-100 ph3 mb0-l mb5">
			<h2 class="f4 fw5 mv0">Mesh API</h2>
			<p class="lh-copy mid-gray">Platform for running a mesh network.</p>
			<a href="https://github.com/meshcenter/mesh-api" class="purple pointer link fw5">GitHub →</a>
		</li>
		<li class="w-third-l w-50-m w-100 ph3 mb0-l mb5">
			<h2 class="f4 fw5 mv0">Network Map</h2>
			<p class="lh-copy mid-gray">Explore nodes, links, sectors and more.</p>
			<a href="https://github.com/meshcenter/network-map" class="purple pointer link fw5">GitHub →</a>
		</li>
		<li class="w-third-l w-50-m w-100 ph3">
			<h2 class="f4 fw5 mv0">Line of Sight</h2>
			<p class="lh-copy mid-gray">Check LoS using public LIDAR data.</p>
			<a href="https://github.com/meshcenter/line-of-sight" class="purple pointer link fw5">GitHub →</a>
		</li>
	</ul>
</section>
{% endblock content %}